.button1 {

    width: 500px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: #fff;
  padding: 30px 50px;
  border: none;
  border-radius: 20px;
    cursor: pointer;
     text-align: center;
      font-size: 24px;

}

h1 {
  color: #000000;
}
.screen-message {
  text-align: center;
}
